# Dependency directories
node_modules/

# Build output
build/
dist/

# Environment variables
.env

# IDE and editor directories
.idea/
.vscode/
*.sublime-workspace

# Operating System files
.DS_Store
Thumbs.db

# Logs
logs/
*.log
npm-debug.log*

# Temporary files
*.tmp
*.swp
*.swo
